section{
    width: 100%;
    height: 100%;
    margin:5% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section .contact{
    width: 75%;
    margin:5% auto;
    background-color: blue;
}
section .contact .con{
    background-color: white;
    padding: 20px;
}
section .contact .con h1{
    font-size: 3.5rem;
    color:blue;
    padding-block-end: 10px;
}
section .contact .con hr{
    width: 100px;
    height: 5px;
    border: none;
    margin: 0 auto;
    border-radius: 10px;
    background-color: blue;
}
section .contact .con p{
    margin-top: 20px;
    font-size: 1.5rem;
    color: black;
}
section .contact .formulaire{
    display: block;
    padding: 0 auto;
}
.contact .formulaire form {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 5px;
}
section .contact .formulaire .bloc{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
section .contact .formulaire .in, .text{
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.contact .formulaire form .in input{
    width: 400px;
    padding: 15px;
    font-size: 15px;
    color: black;
    border: none;
}
.contact .formulaire form .in label, .text label{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-block: 10px;
    text-align: left;
}

.contact .formulaire form span{
    color: red;
}
.contact .formulaire form textarea{
    height: 250px;
    padding: 15px;
    width: 900px;
}
.contact .formulaire form .send{
    margin-bottom: 40px;
}
.contact .formulaire form .send input{
    text-align: center;
    padding: 15px 35px;
    font-size: 1.5rem;
    background-color: white;
    color: blue;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: 0.8s ease-out;
}
.contact .formulaire form .send input:hover{
    background-color: aqua;
    
} 

@media all and (max-width: 900px){
    section .contact .con h1{
        font-size: 2.5rem;
    }
    section .contact .con hr{
        width: 65px;
    }
    section .contact .con p{
        margin-top: 10px;
        font-size: 1.2rem; 
    }
    section .contact .formulaire .bloc{
       flex-direction: column;
    }
    .contact .formulaire form .in input, .formulaire form textarea{
        width:100%;
     }
     .contact .formulaire form textarea{
        width: 100%;
     }
}