section{
    width: 100%;
    height: 100%;
    margin:5% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section .contact{
    width: 75%;
    margin:15% auto;
    background-color: blue;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.25);
}
section .contact .con{
    background-color: white;
    border: 1px solid rgba(0, 0, 255, 0.5);
    padding: 20px;
}
section .contact .con h1, .mesprojets .titre, .moncv h1{
    text-align: center;
    font-size: 3.5rem;
    color:blue;
    padding-block-end: 10px;
}
section .contact .con hr, .mesprojets .ligne2, .moncv hr{
    width: 100px;
    height: 5px;
    border: none;
    margin: 0 auto;
    border-radius: 10px;
    background-color: blue;
}
section .contact .con p, .mesprojets .phrase{
    margin-top: 20px;
    font-size: 1.5rem;
    color: black;
}
section .contact .formulaire{
    display: block;
    padding: 0 auto;
}
.contact .formulaire form {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 5px;
}
section .contact .formulaire .bloc{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
section .contact .formulaire .in, .text{
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.contact .formulaire form .in input{
    width: 400px;
    padding: 15px;
    font-size: 15px;
    color: black;
    border: none;
    outline: none;
}
.contact .formulaire form .in label, .text label{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-block: 10px;
    text-align: left;
}

.contact .formulaire form span{
    color: red;
}
.contact .formulaire form textarea{
    height: 250px;
    padding: 15px;
    width: 900px;
    outline: none;
}
.contact .formulaire form .send{
    margin-bottom: 40px;
}
.contact .formulaire form .send input{
    text-align: center;
    padding: 15px 35px;
    font-size: 1.5rem;
    background-color: white;
    color: blue;
    border-radius: 25px;
    
    cursor: pointer;
    border: none;
    transition: 0.8s ease-out;
}
.contact .formulaire form .send input:hover{
    background-color: rgb(0, 119, 255);
    color: white;
} 

.mesprojets .projet, .moncv .contenu-exp{
    background-color: white;
    border: 1px solid rgba(0, 0, 255, 0.2);
    display: flex;
    position: relative;
    margin: 25px auto;
    width: 80%;
    height: 100%;
}
.mesprojets .projet .titre_pro{
    display: flex;
    margin: 35px 0 20px 0;
}
.mesprojets .projet .titre_pro .tit h1{
    margin-bottom: 5px;
    font-size: 2rem;
    color: blue;
}
.mesprojets .projet .titre_pro .tit i{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}
.mesprojets .ligne3{
    width:1rem;
    height: 4.5rem;
    margin-inline-end: 10px;
    background-color: blue;
    border: none;
} 
.mesprojets .projet1{
    padding-right: 10px;
}

.mesprojets .projet1 p{
    margin: 0 0 10px 25px;
    padding-right: 25px;
    font-size: 15px;
}
.mesprojets .projet1 p .i{
    font-weight: 600;
}
.mesprojets .projet1 ul{
    margin: 0 0 0 40px;
    padding-right: 25px;
    font-size: 15px;
}
.mesprojets .projet1 ul li{
    margin: 5px;
}
.mesprojets, .moncv{
    margin: 10% 0;
}
.mesprojets .ligne2, .moncv hr{
    margin-bottom: 25px;
}
.mesprojets .phrase{
    text-align: center;
}
.mesprojets .projet img{
    height: 300px;
}
.moncv .cv{
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    width: 60%;
    height: 100%;
}
.moncv .en{
    padding-block-start: 40px;
    padding-block-end: 50px;
}
.moncv .cv .experience{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.moncv .cv .experience .col{
    display: flex;
    align-items: center;
    padding: 15px;
}
.moncv .cv .experience h2{
    position: absolute;
    left: 85px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.moncv .cv .experience .col button{
    position: absolute;
    right: 85px;
    padding: 10px 0px;
    border: 1px solid blue;
    border-radius: 25px;
    background-color: blue;
    transition: 0.8s ease-out;
}
.moncv .cv .experience button a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    transition: 0.8s ease-out;
}
.moncv .cv .experience button:hover{
    background-color: white;
    border: 1px solid;
    border-color: blue;
}
.moncv .cv .experience button a:hover{
    color: blue;
}
.moncv .cv .contenu-exp{
    display: flex;
    padding: 50px;
}

.moncv .cv .contenu-exp .col1{
    width: 200%;
}
.moncv .cv .contenu-exp .col1 h3{
    width: 200%;
    color: blue;
    font-size: 20px;
    font-weight: 700;
    padding-block-end: 10px;
}
.moncv .cv .contenu-exp .col1 i{
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    margin-block-end:10px;
}
.moncv .cv .contenu-exp .col2{
    padding-inline-start:40px;
    margin-inline-start: 50px;
    align-items: center;
}
.moncv .cv .contenu-exp .col1 p, .moncv .cv .contenu-exp .col2 p{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

.moncv .cv .comp{
    flex-direction: column;
}
.moncv .cv .comp .col3{
    display: flex;
    flex-wrap: wrap;
}
.moncv .cv .comp .competence{
   margin: 5px 8px;
   padding: 15px 25px;
   background-color: rgba(0, 0, 255, 0.2);
   color: rgb(0, 0, 0);
   border: none;
   font-size: 14px;
   font-weight: 600;
}
.moncv .cv .comp .col4 label{
    font-size: 15px; 
    padding-inline: 10px;
    color: black;
    font-weight: 600;
}
.contenu-exp .lang{
    margin: 50px 0;
}
.contenu-exp  progress{
    margin-inline-end: 60px;
}



@media all and (max-width: 900px){
    section .contact{
        width: 90%;
        margin: 30% auto;
    }
    section .contact .con h1{
        font-size: 2.5rem;
    }
    section .contact .con hr{
        width: 65px;
    }
    section .contact .con p{
        margin-top: 10px;
        font-size: 1.2rem; 
    }
    section .contact .formulaire .bloc{
       flex-direction: column;
    }
    .contact .formulaire form .in input, .formulaire form textarea{
        width:100%;
     }
     .contact .formulaire form textarea{
        width: 100%;
     }
     .mesprojets{
        margin-top: 120px;
     }
     .mesprojets .projet{
        display: flex;
        flex-direction: column;
    }
     .mesprojets .titre{
        font-size: 2.5rem;
     }
     .mesprojets .phrase{
        font-size: 16px;
        margin: 0 25px;
     }
     .mesprojets .projet .titre_pro{
        margin: 30px 0 10px 0;
    }
    .mesprojets .projet1 p{
        margin: 0 0 15px 15px;
        padding-right: 10px;
    }
    .mesprojets .projet .titre_pro .tit h1{
        font-size: 1.6rem;
    }
    .mesprojets .projet .titre_pro .tit i{
        font-size: 1.2rem;
    }
    .mesprojets .projet img{
        height: 200PX;
    }
}