:root {
    background-color: #ecf5ff;
    font-size: 75.2%;
  }
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }

  /* header du portfolio */
  header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(40,47,209,0.66);
-webkit-box-shadow: 1px 1px 5px 0px rgba(40,47,209,0.66);
-moz-box-shadow: 1px 1px 5px 0px rgba(40,47,209,0.66);
  }

header .logo, .nav{
    display: flex;
    align-items:center;
}
header .logo img{
    height: 100%;
    width: 110px;
}
header .entete{
    display: flex;
    margin-inline-start: 10px;
}
header .tiret{
    width:1rem;
    height: 3.5rem;
    margin-inline-end: 10px;
    background-color: blue;
} 
header h1{
    color: blue;
}

header .nav{
    display: flex;
    width: 70%;
    margin-inline-start: 50px;
    /* background-color: #333; */
}
header .nav-bar{
   display: flex;
   position: absolute;
   right: 50px;
   justify-content: center;
   align-items: center;
}
header .nav-bar a{
    font-size: 15px;
    text-decoration: none;
    margin-inline: 15px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    color: blue;
    transition: 0.8s ease-out;
}
header .nav-bar a:hover{
    color: black;
}

/* la partie main  */

.contenu{
    margin-block: 7%;
    margin-inline: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contenu .profil{
    position: relative;
    height: 10%;
    width: 30%;
    position: relative;
    background-color: blue;
    justify-content: center;
    text-align: center;
    
    padding-top: 6%;
    
}
.contenu .profil img{
    margin: 0 auto;
    height:200px;
    border-radius: 50%;
}
.contenu .profil h1{
    font-size: 2.6rem;
    color: white;
    margin-block: 3%;
}
.contenu .profil hr{
    color: white;
    margin-block: 10px;
}
.contenu .profil span{
    padding-top: 25px;
    font-weight: 500;
    font-size: 1.5rem;
    color: yellow;
}
.contenu .profil .social{
    background-color: white;
    margin: 25px 0px 0px 0px;
    padding: 20px;
}
.contenu .profil .social a{
    padding: 10px;
    font-size: 1.2rem;
    color: blue;
    transition: 0.8s ease-out;
}
.contenu .profil .social a:hover{
    color: #0E76A8;
    text-decoration: none;
}
.contenu .message{
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 5px;
    padding: 20px;
}

.contenu .message .titre2, .contenu .message .btn{
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.contenu .message h1{
    font-size: 3.5rem;
    color: blue;
    margin: 15px;
}
.contenu .message .titre2 span{
    font-size: 25px;
}
.contenu .message .btn{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.contenu .message .btn a{
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 20px;
    margin: 10px;
}
.contenu .message .btn .cv{
    background-color: blue;
    color:white;
    padding: 10px 50px;
    border:1px solid blue;
    transition: 0.8s ease-in-out;
}
.contenu .message .btn .mesprojets{
    background-color: white;
    color: blue;
    border:1px solid blue;
    padding: 10px 25px;
    transition: 0.8s ease-in-out;
}

.contenu .message .btn .cv:hover{
    background-color: white;
    color: blue;
}
.contenu .message .btn .mesprojets:hover{
    background-color: blue;
    color: white;
}
.contenu .message p{
    text-align: justify;
    margin: 20px;
    font-size: 17px;
    line-height: 1.3;
}


footer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.68);
}

 footer i{
    width: 30%;
    font-size: 14px;
   padding: 10px;
    text-align: center;
    align-items: center;
}
.foot{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.foot ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}

.foot .RS{
    display: flex;
    flex-wrap: wrap;
}
.foot ul li{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.foot ul li h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: blue;
    margin-block: 20px;
}

.foot ul li span a, .icon{
    color: blue;
    font-size: 15px;
    font-weight: bold;
}
.foot .icon{
    margin: 5px;
    padding: 15px;
    border: 1px solid blue;
    text-decoration: none;
    transition: 0.8s ease-out;
} 
.foot .icon-1:hover{
    background-color: blue;
    color: white;
}
.foot .icon-2:hover{
    background-color: #0E76A8;
    border-color:#0E76A8;
    color: white;
}
.foot .icon-3:hover{
    background-color: rgb(0, 0, 0);
    border-color: black;
    color: white;
} 

label, #menu{
    display: none;
}
@media all and (max-width: 991px)
{
   
      header .logo{
        display: none;
        margin: 0;
        padding: 0;
      }
      header .nav-bar{
        align-items: center;
        justify-content: center;
      }
      header .nav-bar a{
        font-size: 12px;
        margin-inline: 0;
      }
      header .nav-bar a:hover{
        color:black;
      }
      
      .contenu .profil, .contenu .message{
        width: 100%;
      }
      .contenu .message{
        margin: 10px 0 ;
      }
      .contenu .message h1{
        font-size: 2.5rem;
      }
      .contenu .message .titre2 span{
        font-size: 1.5rem;
      }
      .contenu .message .btn{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        align-items: center;
      }
      .contenu .message .btn a{
        font-size: 1.3rem;
        font-weight: bold;
        margin: 8px 0;
        width: 100%;
    }
    .contenu .message p{
        font-size: 130%;
    }

    /* footer */
    .foot .RS, footer{
        flex-direction: column;
    }
    footer i{
        width: 100%;
        margin-top: 20px;
    }
}
